<div id="accordion">
{{#each noteBranch}}
  <h5 id="note-branch" class='highlight note-hive-name'>Hive Notes For: {{this.name}}
  {{#each this.notes}}
    <ul data-id="{{this.id}}" data-name="{{this.hive_name}}" class='note-{{this.id}} list-unstyled note-toggle'>
      <li>Observation Date: {{this.observation_date}}</li>
      <li>Notes: {{this.observe}}</li>
      <li>Task: {{this.task}}</li>
      <li>Task Due Date: {{this.task_due_date}}</li>
      <li>Task Status: {{this.task_status}}</li>
      <li>ID {{this.id}}</li>
      <div>
        <p>
          <button type="button" class="btn btn-default btn-sm delete-note" name="button" id="button-delete-{{this.id}}">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
          <button type="button" class="btn btn-default btn-sm update-note" name="button" id="button-update-{{this.id}}">
            <span class="glyphicon glyphicon-pencil"></span> Update
          </button>
        </p>
      </div>
    </ul>
  {{/each}}
  </h5>
{{/each}}</div>
